// Create NAT Gateways for Private Subnets

{%- for availability_zone in availability_zones %}

// https://www.terraform.io/docs/providers/aws/r/eip.html
resource "aws_eip" "{{ availability_zone }}_nat_gateway" {
    vpc = true

    tags = {
        Name = "${var.vpc_name}.eip.{{ availability_zone }}_nat_gateway"
        VPC = var.vpc_name
        Owner = var.vpc_owner
    }
}
{%- endfor %}
{%- for availability_zone in availability_zones %}

// https://www.terraform.io/docs/providers/aws/r/nat_gateway.html
resource "aws_nat_gateway" "private_{{ availability_zone }}" {
    allocation_id = aws_eip.{{ availability_zone }}_nat_gateway.id
    subnet_id = aws_subnet.{{ nat_gateway_network_tier }}_tier_{{ availability_zone }}.id
    depends_on = ["aws_internet_gateway.internet_gateway"]

    tags = {
        Name = "${var.vpc_name}.nat_gateway.{{ availability_zone }}"
        VPC = var.vpc_name
        Owner = var.vpc_owner
    }
}
{%- endfor %}
{%- for availability_zone in availability_zones %}

// https://www.terraform.io/docs/providers/aws/r/route_table.html
resource "aws_route_table" "private_{{ availability_zone }}" {
    vpc_id = aws_vpc.main.id

    tags = {
        Name = "${var.vpc_name}.route_table.private_{{ availability_zone }}"
        VPC = var.vpc_name
        Owner = var.vpc_owner
    }
}
{%- endfor %}
{%- for availability_zone in availability_zones %}

// https://www.terraform.io/docs/providers/aws/r/route.html
resource "aws_route" "private_{{ availability_zone }}_ipv4" {
    route_table_id            = aws_route_table.private_{{ availability_zone }}.id
    destination_cidr_block    = "0.0.0.0/0"
    nat_gateway_id = aws_nat_gateway.private_{{ availability_zone }}.id
}
{%- endfor %}

// Associate NAT Route Tables with Private Subnets
{%- for private_network_tier in private_network_tiers %}
{%- for availability_zone in availability_zones %}

// https://www.terraform.io/docs/providers/aws/r/route_table_association.html
resource "aws_route_table_association" "{{ private_network_tier }}_tier_{{ availability_zone }}" {
    subnet_id = aws_subnet.{{ private_network_tier }}_tier_{{ availability_zone }}.id
    route_table_id = aws_route_table.private_{{ availability_zone }}.id
}
{%- endfor %}
{%- endfor %}
